@using Byte.Blog.Content
@model global::Byte.Blog.Rendering.Models.PageViewModel
@{
    Layout = "~/Areas/Rendering/Views/Shared/_Layout.cshtml";
}

<div class="page">
    @foreach (var entry in Model.Entries)
    {
        <div class="entry" data-published-at-utc="@entry.PublishedAtUtc">
            <h2>@entry.Title</h2>
            <h6 class="published-at-utc muted pull-right"></h6>
            <div class="hrule"></div>
            <div>
                @Html.Raw(entry.Body)
            </div>
            @Html.ActionLink(
                "Comments...", 
                "ViewEntry", 
                "Entries", 
                new
                {
                    pageSlug = string.IsNullOrWhiteSpace(Model.Slug) ? global::Byte.Blog.Content.Page.HomePage.Slug : Model.Slug, 
                    entrySlug = entry.Slug
                },
                null)
        </div>
    }
</div>

@section FooterScripts {

    <script type="text/javascript">

        $(document).ready(function () {

            var publishedAtUtc = new Date($('.entry').data('published-at-utc'));
            $('.published-at-utc').text(publishedAtUtc.toLocaleDateString() + ' ' + publishedAtUtc.toLocaleTimeString());

        });

    </script>

}
