@using Byte.Blog.Content
@model global::Byte.Blog.Rendering.Models.PageViewModel
@{
    Layout = "~/Areas/Rendering/Views/Shared/_Layout.cshtml";
}

<div class="page">
    @foreach (var entry in Model.Entries)
    {
        <div class="entry">
            <h2>@entry.Title</h2>
            <div>
                @Html.Raw(entry.Body)
            </div>
            @Html.ActionLink(
                "Comments...", 
                "ViewEntry", 
                "Entries", 
                new
                {
                    pageSlug = string.IsNullOrWhiteSpace(Model.Slug) ? global::Byte.Blog.Content.Page.HomePage.Slug : Model.Slug, 
                    entrySlug = entry.Slug
                },
                null)
        </div>
    }
</div>
