<div id="wordpress-form" data-save-url="@Url.Action("ImportWordpressXml", "ImportExport")">
    <div class="alert response-message">Choose the wordpress XML file you'd like to import.</div>
    <div id="file-chooser">
        <label for="WordpressXml">Wordpress Xml:</label>
        <button type="button" id="choose-file" name="choose-file" class="btn">Choose File</button>
    </div>
    <div id="file-importer">
        <h4 id="filename"></h4>
        <button type="button" id="import-wordpress" name="import-wordpress" class="hide">Import</button>
    </div>
</div>

@section FooterScripts
{
    <script src="@Url.Content("~/editorial/assets/scripts/lib/ajaxupload.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/editorial/assets/scripts/WordpressImportView.js")" type="text/javascript"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            return new window.WordpressImportview({
                el: $('#wordpress-form')
            });

        });

    </script>
}